body{
    background-color: #16123f;
    font-family: 'Spartan';
    color: #ABD699;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 800px;
    grid-template-rows: 200px 400px 100px;
    gap: 10px;
    justify-content: center;
    align-content: flex-start;
    height: 100vh;

}
.back{
    background-color: #16123f;
}
.header{
grid-column-start: 1;
grid-column-end: 3;
}
.sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
    
    }
    .sideitems{
        background-color: #ABD699;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;


        
        
    }
.main{
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
       flex-direction: column;
       align-items: center;
    }
.footer{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    background-color: #ABD699;
    display: flex;
    color: #16123f;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    }
/* .header{
    min-height: 200px;
    display:flex;
    justify-content: space-evenly;
    
} */
.links{
    text-decoration: none;
    color: #16123f;
    font-weight: bolder;
}
/* .main{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #557a95;
   } */
/* .footer{
    display: flex;
    min-height: 100px;
    justify-content: center;
} */
.info{
    font-size: 30px;
    font-family: 'Spartan';
   
}
.echo-image{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
input{
    font-family: 'Spartan';
    text-align: center;
    border-radius: 3.5px;
    height: 20px;
    width: auto;

}
/* body{
    background-color: #b1a296;
    font-family: 'Spartan';
}
.header{
    min-height: 200px;
    display:flex;
    justify-content: space-evenly;
    
}
.links{
    text-decoration: none;
}
.main{
    min-height: 600px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #557a95;
    
    
    
}
.footer{
    display: flex;
    min-height: 100px;
    
    justify-content: center;
}
.info{
    font-size: 30px;
    font-family: 'Spartan';
   
}
.echo-image{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
input{
    font-family: 'Spartan';
    text-align: center;
    border-radius: 3.5px;
    height: 20px;
    width: auto;

} */